    .logo {
        height: 50px;
    }
    
    .menu {
        color: gray;
    }
    
    .card {
        margin-bottom: 10px;
        margin-right: 5px;
    }
    
    .card-img-top {
        opacity: 1;
        height: 250px;
    }
    
    .card-img-top:hover {
        opacity: 0.6;
    }
    
    .card-body {
        background-color: #f8f8f8;
    }
    
    .login {
        color: gray;
    }
    
    .menu-name {
        text-align: center;
        margin-bottom: 22px;
    }
    
    .categories {
        background-color: #f8f8f8;
        border-radius: 5px;
        border: 1px solid #e0e0e0;
    }
    
    .del-item {
        cursor: pointer;
    }